.gameplay {
  &__titleContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: #1db954;
    border: 1px solid white;
  }

  &__titleText {
    font-size: 62px;
    margin-right: 60px;
    padding: 15px 30px;
  }
}


