.gameplay {
  &__titleContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border: 1px solid white;
    color: #1db954;
    color: transparent;
    text-shadow: 0px 5px #1db954;

    & span {
      // color: #ff66aa;
      text-shadow: 2px -8px #ff66aa;
    }
  }

  &__titleText {
    font-size: 62px;
    margin-right: 60px;
    // background-color: black;
    padding: 15px 30px;
    border-radius: 50px;
    border: 2px solid white;
  }
}
