@use "../../styles/partials/fonts";

.sidebar {
  &__playerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  &__playerScore {
    margin-top: 0;
  }

  &__spotifyContainer {
    width: 80%;
    display: none;
  }

  &__playerScore {
    font-family: "Noma-Bold";
    color: white;
    text-shadow: 3px 3px 8px black;
  }

  &__currentTrackDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-bottom: 30px;
  }

  &__currentTrackAlbum {
    width: 75%;
    border-radius: 25px;
    box-shadow: 3px 3px 8px black;
  }

  &__currentTrackName {
    font-family: "Noma-Light";
    font-size: 24px;
    margin-bottom: 0;
    text-shadow: 3px 3px 8px black;
    text-align: center;
  }

  &__currentTrackArtist {
    font-family: "Noma-Light";
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: gray;
    text-shadow: 3px 3px 8px black;
    text-align: center;
  }

  &__animatedContainer {
    height: 15%;
  }
}
