@font-face {
  font-family: "Noma-Reg";
  src: url("../../assets/fonts/OTF/NOMA.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Noma-Bold";
  src: url("../../assets/fonts/OTF/NOMA-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Noma-Light";
  src: url("../../assets/fonts/OTF/NOMA-LIGHT.otf") format("opentype");
  font-weight: 300;
}
