@font-face {
  font-family: "Noma-Reg";
  src: url("../../assets/fonts/OTF/NOMA.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Noma-Bold";
  src: url("../../assets/fonts/OTF/NOMA-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Noma-Light";
  src: url("../../assets/fonts/OTF/NOMA-LIGHT.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Nintendo";
  src: url("../../assets/fonts/TTF/SnesItalic-1G9Be.ttf") format("truetype");
}

@font-face {
  font-family: "Charge-Thin";
  src: url("../../assets/fonts/TTF/ChargeVectorThin-d9qdR.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Charge-Bold";
  src: url("../../assets/fonts/TTF/ChargeVectorBold-mLyD9.ttf")
    format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Antenna";
  src: url("../../assets/fonts/TTF/The-Antenna.ttf") format("truetype");
}

@font-face {
  font-family: "Gasca";
  src: url("../../assets/fonts/TTF/Gasca-Demo.ttf") format("truetype");
}

@font-face {
  font-family: "Gamlangdee";
  src: url("../../assets/fonts/TTF/Gamlangdee.ttf") format("truetype");
}

@font-face {
  font-family: "Emulator";
  src: url("../../assets/fonts/TTF/emulator.ttf") format("truetype");
}

@font-face {
  font-family: "Big-Space";
  src: url("../../assets/fonts/TTF/Big Space DEMO.ttf") format("truetype");
}
