body {
  background-color: #000000;
}

main {
  display: flex;
}

.gameScreen {
  display: flex;
  justify-content: center;
  width: 75%;
}

.sidebar {
  width: 25%;
  height: 100%;
  background-color: #224c7d;
}
