@use "./styles/partials/fonts";

body {
  background-color: #000000;
  font-family: "Noma-Reg";
}

main {
  display: flex;
}

.gameScreen {
  display: flex;
  justify-content: center;
  width: 75%;
}

.sidebar {
  width: 25%;
  height: 100vh;
  background-color: #224c7d;
  overflow: hidden;
}
