.gameplay {
  &__canvas {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid white;

    &Container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 90%;
    }
  }
}
