.gameplay {
  &__canvas {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid white;

    &Container {
      position: relative;
      width: 90%;
      height: 90%;
    }
  }

  // &__circle {
  //   width: 20px;
  // }
}
